<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burgler's Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='game_style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra&family=Uncial+Antiqua&display=swap" rel="stylesheet">
</head>
<body>
    <div class="gamepg" style="font-family: 'Almendra', serif;">
        <div class="gameboard">
            <a href=" " class="btn btn-warning float-right mt-3 mr-3">Restart</a>
            <div class="goldcounter">
                <h4>Your Gold: </h4>
                <div class="goldnumber">
                    <!-- <h5>{{totalgold}}</h5> -->
                    <h5>0 for now</h5>
                </div>
                <h3 class="p-5 mt-5 text-danger">Burglary attempts remaining: 10</h3>
            </div>
            <div class="places">
                <div class="place elv">
                    <h4>Elves Hut</h4>
                    <p>(steal 2-5 golds)</p>
                    <form action = "/steal" method = "POST">
                            <input type="hidden" name = "clicked" value = "elves">
                            <button class="butn btn">Steal Gold!</button>
                        </form>
                </div>
                <div class="place fair">
                    <h4>Fairies Den</h4>
                    <p>(steal 5-10 golds)</p>
                    <form action = "/steal" method = "POST">
                        <input type="hidden" name = "clicked" value = "fairies">
                        <button class="butn btn">Steal Gold!</button>
                    </form>
                </div>
                <div class=" place lep">
                    <h4>Leprechaun Castle</h4>
                    <p>(steal 10-20 golds)</p>
                    <form action = "/steal" method = "POST">
                        <input type="hidden" name = "clicked" value = "leprechaun">
                        <button class="butn btn">Steal Gold!</button>
                    </form>
                </div>
                <div class="place drag">
                    <h4>Dragon Lair</h4>
                    <p>(steal/pay 0-50 golds)</p>
                    <form action = "/steal" method = "POST">
                        <input type="hidden" name = "clicked" value = "dragon">
                        <button class="butn btn">Steal Gold!</button>
                    </form>
                </div>
            </div>
            <h3 class="act_word">What's going on:</h3>
            <div class="activities">
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>