<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burglar's Luck</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra&family=Uncial+Antiqua&display=swap" rel="stylesheet">
</head>
<body>
    <div class="homepg" style="font-family: 'Almendra', serif;">
        <h1 class="text-warning" style="font-family: 'Uncial Antiqua', cursive; font-weight:900;">Welcome to the Burgler's Game!</h1>
        <h2 class="mt-3 mb-3"><span class="text-warning">Bilbo Baggins</span> is in a bit of a pickle</h2>
        <h2 class="mt-3 mb-3">He need to steal <span class="text-warning">200 gold pieces</span> for a ransom to liberate Samuel Ganji from the evil ogre Saurch</h2>
        <h2 class="mt-3 mb-3">He can steal the coins from the household of four different creatures:</h2>
        <h4 class="mt-3 mb-3"><em><span class="text-warning font-weight-bolder">The elves hut:</span> albeit not the rishest of the folks, these creatures are extremly stingy</em></h4>
        <h4 class="mt-3 mb-3"><em><span class="text-warning font-weight-bolder">The fairies den:</span> they get by luxuriously but are extremely violent when provoked</em></h4>
        <h4 class="mt-3 mb-3"><em><span class="text-warning font-weight-bolder">The leprechaun castle:</span> Among the rich but have dangerous tricks up their sleeves</em></h4>
        <h4 class="mt-3 mb-3"><em><span class="text-warning font-weight-bolder">The Dragon lair:</span> Most dangerous and the cleverest. Love their tressure the most.</br/> If Bolbo is caught, he will pay dearly. <br/>But if he is lucky enough, he might just get away with a jackpot</em></h4>
        <h2 class="mt-3 mb-3">Bilbo only has <span class="text-warning">10 attempts</span> to steal a total of 200 coins</h2>
        <a href="/game"><h2 class="mt-5 mb-5 text-warning">Let's get Started! <span>&#62; &#62; &#62;</span></h2></a>
    </div>
</body>
</html>